.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
