<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
          @if (
            loginFormGroup.controls.username.hasError("required") &&
            loginFormGroup.controls.username.dirty
          ) {
            <mat-error>Username cannot be empty.</mat-error>
          }
          @if (
            loginFormGroup.controls.username.hasError("minlength") &&
            loginFormGroup.controls.username.dirty
          ) {
            <mat-error>Username must be at least 5 characters.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          @if (
            loginFormGroup.controls.password.hasError("required") &&
            loginFormGroup.controls.password.dirty
          ) {
            <mat-error>Password cannot be empty.</mat-error>
          }
          @if (
            loginFormGroup.controls.password.hasError("minlength") &&
            loginFormGroup.controls.password.dirty
          ) {
            <mat-error>Password must be at least 5 characters.</mat-error>
          }
        </mat-form-field>

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginFormGroup.invalid"
          >
            Log In
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
