<main class="main">
  <div class="content">
    <mat-toolbar color="primary" class="navbar">
      <div class="left-section">
        <span class="logo">My App</span>
        <a mat-raised-button routerLink="/home" routerLinkActive="active"
          >Home</a
        >
        <a mat-raised-button routerLink="/about" routerLinkActive="active"
          >About</a
        >
        <a mat-raised-button routerLink="/profile" routerLinkActive="active"
          >Profile</a
        >
      </div>
      <div class="right-section">
        <button
          mat-icon-button
          aria-label="Profile"
          routerLink="/login"
          routerLinkActive="active"
          [authGuard]="!isAuthenticated()"
        >
          <mat-icon>login</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Logout"
          (click)="logOut()"
          [authGuard]="isAuthenticated()"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="outlet">
      <p *ifAuthenticated class="greeting">
        Hello, {{ getUsername() | uppercase }}
      </p>
      <router-outlet />
    </div>
  </div>
</main>
